label {
  margin-bottom: 5px;
}

label + input {
  margin-top: 5px;
}

.list li {
  position: relative;
  padding-right: 20px;
}

.remove {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 12px;
  cursor: pointer;
}

form {
  margin-top: 30px;
}

form button {
  margin: 15px 15px 0 0;
}

.ng-invalid,
.ng-touche {
  border-color: red;
}
